body{
    padding: 0%;
    margin: 40px 40px;
    box-sizing: border-box;
    font-size: 2em;
  
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(4,auto);
    grid-template-areas: "head head head"
                         "nav nav nav"
                         "sectone sectone sectone"
                         "foot foot foot";
    background-color: rgb(197, 191, 191);
    grid-row-gap: 10px;
    padding: 10px 10px;
}
/* ^Image */
.container header{
    grid-area: head;
}
.container header picture img{
    display: block;
    width: 30%;
    margin: auto auto;
   
}
/* ^Nav Bar */
.container nav{
    grid-area: nav;
}
.container nav ul {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: rgb(36, 34, 34);
    color: white;
    border-radius: 20px;
}
.container nav ul li{
    list-style: none;
}

/* ^main */
.container main {
    grid-area: sectone;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2,auto);
    grid-template-areas: "one "
                          "two";
    row-gap: 30px;
}
.container main .headsection{
    grid-area: one;
    background-image: url("/logos/greenlimes.jpg");
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px 10px;
}
.container main .headsection p{
    font-size: 0.6em;
    margin-right: 30%;
   
}
.container main .card p,a{
    font-size: 0.5em;
   
}

.container main .card{
    grid-area: two;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-template-areas: "cardone cardtwo cardthree";
    gap:5%;
}
.container main .cardone,.cardtwo,.cardthree{
background-color: rgb(221, 220, 219);
border-radius: 24px;
}
.container main .cardone{
    grid-area: cardone;
    padding: 20px 20px;
}
.container main .card img{
    display: block;
    width: 100%;
    margin: auto auto;
}
.container main .cardone p{
    font-size: 0.5em;
}

.container main .cardtwo{
    grid-area: cardtwo;
    padding: 20px 20px;
  
}
.container main .cardthree{
    grid-area: cardthree;
    padding: 20px 20px;
    
}
.container main .cardthree span{
   display: flex;
   justify-content: center;
    margin: auto auto;
    font-size: 0.5em;
}


.container footer{
    grid-area: foot;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1;
    grid-template-areas: "footone foottwo";
   
  
}

.container footer .img{
    grid-area: footone;
}
.container footer .img img{
        height:100px;
        width:100px;    
}
.container footer .contact  {
    align-items: center;
    grid-area: foottwo;
}

.container footer .contact p{
    font-size: 0.6em;
    text-align: end;
}
a{
    color: rgb(90, 179, 201);
    font-size:0.8em ;
}

a:link{
    color: rgb(68, 199, 170);
}

a:focus{
    color: rgb(80, 85, 77);
}

.container {
   /* Initial position - off screen to the left */
    animation: slideIn 1s forwards  linear; /* Slide in effect with 1 second duration */
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #b3aeae;
    border-radius: 8px;
}

@keyframes slideIn {
   from{
        transform:translateY(-100%);
   }
    to {
        transform: translateY(0); /* Final position - back to its original place */
    }
}